[submodule "ecommerce_v1_backend"]
	path = ecommerce_v1_backend
	url = https://github.com/ramexec/ecommerce_v1_backend.git
[submodule "ecommerce_v1_frontend"]
	path = ecommerce_v1_frontend
	url = https://github.com/ramexec/ecommerce_v1_frontend.git
