[submodule "my_backend"]
	path = my_backend
	url = https://github.com/ramexec/my_backend.git
[submodule "my_frontend"]
	path = my_frontend
	url = https://github.com/ramexec/my_frontend.git
[submodule "ecommerce_v1"]
	path = ecommerce_v1
	url = https://github.com/ramexec/ecommerce_v1.git
