.admin-container {
    width: 100%;
    display: flex;
    min-height: 95vh;
    list-style: none;
    max-width: 1500px;
    padding: 3rem 2rem;
    margin: 0 auto;

}

.admin-navigation {
    padding-top: 5%;
}

.admin-body {
    width: 100%;
    padding: 20px;
    border-style: solid;
    border-color: #667eea;
    border-width: 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fafafa;
}

.admin-header {
    display: flex;

}

.admin-navigation-links {
    padding: 0 10px 10px 10px 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.admin-navigation-links>li {
    height: 60px;
    padding: 10px;
    width: 200px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    list-style: none;
    transition: background-color 0.2s ease, border-color 0.2s ease;

    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #667eea00 #667eea #667eea00 #667eea00;
    position: relative;
    right: -2px;

}

.nav-text {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-left: 10%;
}

.admin-navigation-links>li:hover {
    cursor: pointer;
    background-color: rgba(166, 164, 201, 0.137);
}

.admin-navigation-links>.active {
    border-style: solid;
    z-index: 10;
    background-color: #fafafa;
    border-color: #667eea #fafafa #667eea #667eea;
}

.admin-navigation-links>.active:hover {
    background-color: #667eea;
    position: relative;
    right: -2px;
    border-right: 0px;
}

.admin-title {
    display: flex;
    font-size: 1rem;
    gap: 10px;
    align-items: center;
}

.muted {
    color: #6c757d;
    font-weight: 500;
}

.admin-render {
    flex: 1;
    padding: 10px;
}

.admin-products-table {
    overflow-x: auto;
}

.admin-products-table table {
    min-width: 800px;
}

@media (min-width: 1300px) {

    .admin-navigation-links-mobile {
        display: none;
    }

    .admin-navigation-links {
        display: flex;
    }

}

@media (max-width:1300px) {

    .admin-navigation-links {
        display: none;
    }

    .admin-container {
        flex-direction: column;
    }

    .admin-navigation-links-mobile {
        display: flex;
    }
}