*{margin:0;padding:0;box-sizing:border-box}.home{background-color:#000;color:#fff;font-size:2rem;display:flex;align-content:center;justify-content:center;height:100%;width:100%}.container{height:100%;width:100%}
